.btn-container {
  color: white;

  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}

.imgThumbnail {
  height: 300px;
}
.imgThumbnailCol {
  flex: 4;
}
.authors {
  font-style: italic;
  flex: 1;
  color: rgb(53, 34, 0);
}

.bookTitle {
  color: rgb(226, 147, 1);
}

.title {
  flex: 1;
}

.subTitle {
  font-style: italic;
  color: rgb(250, 181, 53);
}

.description {
  flex: 7;
}

.book-list-item {
  display: flex;
  margin-bottom: 10px;
}
